@import '/src/styles/variables';

.container {
  width: 100%;
}

.input {
  direction: rtl;
  text-align: right;
  border: 1px solid $border-color;
  border-radius: 24px;
  padding-right: 12px;
  font-size: 12px;
  line-height: 12px;
  background-color: $background-color-4;
  &::placeholder {
    color: $placeholder-color;
  }
}