$background-color-1:      #6555FA;
$background-color-2:      #FFFFFF;
$background-color-3:      rgba(245, 245, 245, 0.2);
$background-color-4:      #F5F5F5;
$background-color-5:      #E8E8E8;
$background-color-6:      #958AFF;
$background-color-7:      #DCE7F9;

$shadow-color-1:          #00000021;
$shadow-color-2:          #0000001A;
$shadow-color-3:          #00000091;
$shadow-color-4:          #00000005;
$shadow-color-5:          #1b000029;
$shadow-color-6:          #00000029;

$border-color:            #EBEBEB;

$button-color:            #FF7F29;

$toggle-color:            #1592E6;

$error-color:             #EB4578;

$text-color:              #1E1E1E;

$link-color:              #256ECE;

$placeholder-color:       #8E8E8E;

$gradient-green-light:    #87FC41;
$gradient-green-dark:     #23A134;
$gradient-blue-dark:      #230075;
$gradient-orange-light:   #FBCC15;
$gradient-orange-dark:    #FF6F00;
$gradient-bluegray-light: #7C99C8;
$gradient-bluegray-dark:  #7489AB;
$gradient-violet-light:   #6C63FF;
$gradient-violet-dark:    #C77CF1;

