@import '/src/styles/variables';

.container {
  width: 100%;
}

.select {
  cursor: pointer;
  border: 1px solid $border-color;
  border-radius: 24px;
  background-color: $background-color-4;
  text-align: right;
  font-size: 12px;
  padding-right: 10px;

}

select:required:invalid {
  color: $placeholder-color;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: #000;
}