@import '/src/styles/variables';

.reminder {
  width: 809px;
  height: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 49px;
  background: linear-gradient(180deg, $gradient-bluegray-light 0%, $gradient-bluegray-dark 100%);
  border-radius: 15px;
  box-shadow: 0px 22px 35px $shadow-color-1;

  &__first-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__header {
    width: 489px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color-3;
    border-radius: 24px;
    box-shadow: 0px 3px 66px $shadow-color-3;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.96px;
    color: $background-color-2;
  }

  &__second-row {
    margin: 22px 45px 0 0;
    width: 100%;
    display: flex;
    align-items: center; 
  }

  &__third-row {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.announce {
  width: 66px;
  height: 66px;
}

.reminder-select {
  width: 143px;
  height: 39px;
}

.reminder-input {
  width: 143px;
  height: 35px;
}

.button {
  width: 132px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $button-color;
  border: 3px solid $border-color;
  border-radius: 24px;
  margin-top: 18px;
  cursor: pointer;
  color: $background-color-2;
  font-size: 14px;
  line-height: 15px;
}