@import '/src/styles/variables';

.card {
  width: 303px;
  height: 393px;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  height: 50%;
  position: relative;
  & > * {
    width: 100%;
    height: 100%;
  }
}

.gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, $gradient-violet-light 0%, $gradient-violet-dark 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0.5;
}

.card-content {
  display: flex;
  flex-direction: column;
  background-color: $background-color-2;
  box-shadow: 0px 2px 16px $shadow-color-6;
}

.card-info {
  width: 100%;
  margin: 26px 18px 0 0;
  display: flex;
  align-items: center;
}

.card-author {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.user {
  width: 16px;
  height: 16px;
}

.card-date {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.date, .author{
  font-size: 13px;
  line-height: 17px;
}
.date{
  margin-left: 14px;
}

.calendar {
  width: 16px;
  height: 20px;
}

.header {
  margin: 14px 20px 0 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  text-align: right;
  direction: rtl;
}

.content {
  width: 85%;
  margin: 6px 20px 0 0;
  font-size: 12px;
  line-height: 18px;
  text-align: justify;
}

.continue {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 15px 0 12px 14px;

  &__text {
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: $link-color;
  }
}