@import '/src/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  direction: rtl;
  text-align: right;
}

.third-party {
  margin-top: 80px;
  width: 765px;
  height: 245px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &__header {
    position: absolute;
    top: -30px;
    left: 260px;
    width: 236px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: linear-gradient(180deg, $gradient-orange-light 0%, $gradient-orange-dark 100%);
    color: $background-color-2;
    font-size: 28px;
    line-height: 15px;
  }

  &__content {
    padding: 20px 44px 0 0;
    width: 100%;
    height: 245px;
    border-radius: 15px;
    background-color: $background-color-1;
    box-shadow: 0px 22px 35px $shadow-color-1;
    display: grid;
    grid-template-rows: 29px 59px 59px;
    row-gap: 12px;
    grid-template-columns: 208px 210px 208px;
    column-gap: 32px;
  }
}

.leasing {
  width: 104px;
  height: 100%;
  grid-row: 1;
  grid-column: 3;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color-6;
  border-radius: 20px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.56px;
  color: $background-color-2;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-header {
  font-size: 12px;
  line-height: 14px;
  color: $background-color-2;
  margin-bottom: 7px;
}

.accident-discount {
  grid-row: 2;
  grid-column: 3;
}

.date-and-toggle {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: flex-start;
}

.select-tag {
  width: calc(210px - 12px - 82px);
  height: 36px;
  margin-left: 6px;
}

.select {
  width: 100%;
  height: 36px;
}

.vehicle-type {
  grid-row: 2;
  grid-column: 1;
}

.insurance-discount {
  grid-row: 3;
  grid-column: 3;
}

.vehicle-model {
  grid-row: 3;
  grid-column: 2;
}

.manufacturing-year {
  grid-row: 3;
  grid-column: 1;
}

.button {
  width: 132px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $button-color;
  border: 3px solid $border-color;
  border-radius: 24px;
  margin-top: 18px;
  cursor: pointer;
  color: $background-color-2;
  font-size: 14px;
  line-height: 15px;
}