@import '/src/styles/variables';

.container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  margin: 52px 100px 0 0;
}

.nav-item {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

a {
  text-decoration: none;
}

.home {
  width: 12px;
  height: 14px;
  margin-left: 18px;
}

.nav-title {
  color: $background-color-2;
  font-size: 14px;
  line-height: 18.5px;
  text-align: right;
}

.login-button {
  width: 134px;
  height: 35px;
  border: none;
  border-radius: 17.5px;
  box-shadow: 0 6.5px 18px $shadow-color-2;
  background: linear-gradient(180deg, $gradient-green-light 0%, $gradient-green-dark 100%);
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
