@import '/src/styles/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  text-align: right;
}

.features {
  width: 809px;
  height: 110px;
  margin-top: 22px;
  background-color: $background-color-7;
  border-radius: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.icon-container {
  cursor: default;
  width: 64px;
  height: 64px;
  background-color: $background-color-2;
  box-shadow: 0px 7px 13px $shadow-color-5;

}

.telephone {
  width: 44px;
  height: 44px;
}

.analytics {
  width: 38px;
  height: 38px;
}

.delivery {
  width: 42px;
  height: 29px;
}

.credit-card {
  width: 41px;
  height: 34px;
}

.feature-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-text {
  margin-top: 7px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.56px;
  color: $text-color;
}