@import '/src/styles/variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color-2;
  box-shadow: 0px 2px 50px $shadow-color-1;
  border-radius: 50%;
  cursor: pointer;
}

.checked {
  background: linear-gradient(180deg, $gradient-green-light 0%, $gradient-green-dark 100%);
}
