@import '/src/styles/variables';

.backdrop {
  background-color: $background-color-2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.login-container {
  width: 765px;
  height: 325px;
  border-radius: 15px;
  background-color: $background-color-1;
  box-shadow: 0 21.5px 34.5px $shadow-color-1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.input-box {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 42.5px 10px 0;
  text-align: right;
}

.box-title {
  font-size: 13px;
  color: $background-color-2;
  margin-bottom: 14px;
}

.box-input {
  width: 100%;
  height: 36px;
  border: 1.5px solid $border-color;
  border-radius: 23.5px;
  text-align: right;
  padding-right: 15px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  width: 131.5px;
  height: 39px;
  border: 1.5px solid $border-color;
  border-radius: 23.5px;
  background-color: $button-color;
  color: $background-color-2;
  font-size: 16px;
  cursor: pointer;
}

.error {
  font-size: 16px;
  color: $error-color;
  margin-right: 42.5px;
}

.login {
  font-size: 16px;
  color: $gradient-green-dark;
  margin-right: 42.5px;
}