@import '/src/styles/variables';

.container {
  width: 82px;
  height: 36px;
  background-color: $background-color-5;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.7s;
  cursor: pointer;
  &__on {
    justify-content: flex-start;
    background-color: $toggle-color;
  }
}

.toggle-button {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: $background-color-2;
  box-shadow: 0px 0px 16px $shadow-color-4;
}

