@import '/src/styles/variables';

@mixin icon-container {
  width: 113px;
  height: 113px;
}

.container {
  width: 200%;
  height: 776px;
  border-radius: 50%;
  background-color: $background-color-1;
  position: relative;
  top: -338px;
  right: 50%;
  & > * {
    position: absolute;
  }
}

.navbar {
  width: 50%;
  top: 338px;
  right: 25%;
}

.login-logo {
  width: 291px;
  height: 65px;
  top: calc(338px + 162px);
  right: 46%;
}

.personal-icon {
  width: 48px;
  height: 64px;
}

.personal-container {
  @include icon-container();
  top: calc(338px + 335px);
  left: 26%;
}

.travel-icon {
  width: 58px;
  height: 60px;
}

.travel-container {
  @include icon-container();
  top: calc(338px + 360px);
  left: 33.5%;
}

.accident-icon {
  width: 59px;
  height: 61px;
}

.accident-container {
  @include icon-container();
  top: calc(338px + 380px);
  left: 41.5%;
}

.car-icon {
  width: 55px;
  height: 61px;
}

.car-container {
  @include icon-container();
  top: calc(338px + 390px);
  left: 48.7%;
}

.bike-icon {
  width: 67px;
  height: 64px;
}

.bike-container {
  @include icon-container();
  top: calc(338px + 380px);
  left: 56%;
}

.fire-icon {
  width: 64px;
  height: 64px;
}

.fire-container {
  @include icon-container();
  top: calc(338px + 365px);
  left: 63.5%;
}

.earthquake-icon {
  width: 55px;
  height: 55px;
}

.earthquake-container {
  @include icon-container();
  top: calc(338px + 340px);
  right: 26%;
}