@import '/src/styles/variables';

.container {
  width: 100%;
  height: 393px;
}

.footer-upper {
  width: 100%;
  height: 303px;
  display: grid;
  grid-template-columns: auto 283px calc(283px + 57px);
  column-gap: 24px;
  background-color: $background-color-1;
  color: $background-color-2
}

.info {
  grid-column: 3;
  grid-row: 1;
  margin: 59px 57px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: rtl;

  &__ad {
    width: 100%;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color-3;
    box-shadow: 0px 3px 80px $shadow-color-3;
    border-radius: 20px;
    font-size: 17px;
    margin-bottom: 23px;
  }

  &__text {
    text-align: justify;
    font-size: 13px;
    line-height: 20px;
  }
}

.contact {
  grid-column: 2;
  grid-row: 1;
  margin-top: 57px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  direction: rtl;

  &__info {
    width: 100%;
    margin: 31px 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    line-height: 20px;

    &__row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
.row-title {
  width: fit-content;
}
.row-number{
  width: 60%;
}

.login-logo {
  width: 210px;
  height: 47px;
}

.footer-lower {
  width: 100%;
  height: 90px;
  background: linear-gradient(180deg, $background-color-1 0%, $gradient-blue-dark 100%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.instagram {
  width: 27px;
  height: 27px;
}

.telegram {
  width: 32px;
  height: 27px;
}

.youtube {
  width: 35px;
  height: 27px;
}

.logos {
  margin-left: 45px;
}

.logo {
  margin-right: 15px;
}